[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/pbrt-parser"]
	path = external/pbrt-parser
	url = https://github.com/ingowald/pbrt-parser.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
